.page {
  background-color: #fcfcfc;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.Board-title {
  font-family: "Baloo Bhaina 2";
  font-size: 25px;
  padding: 0;
  user-select: none;
  line-height: 1;
  margin: 0;
}

.page-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 3.5em;
}

.page-bottom {
  overflow: auto;
  flex: 1 0 auto;
}

.columns {
  padding: 0 4rem 4rem 4rem;
  display: flex;
}

.col {
  user-select: none;
  background: #2abebe;
  margin: 1em 1em;
  color: white;
  font-weight: bold;
  padding: 1em;
  border-radius: 15px;
  min-width: 250px;
  max-width: 250px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.add-column-button {
  margin: 1em;
  cursor: pointer;
  white-space: nowrap;
}

.add-column {
  display: inline-block;
  max-width: 100%;
  background: #2abebe;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 1rem 1rem;
}

.add-column .input-card {
  max-width: 100%;
  border: none;
  resize: none;
  font-size: 0.8rem;
  border-radius: 5px;
  padding: 10px;
  height: 40px;
  width: 225px;
  margin-bottom: 10px;
  vertical-align: text-top;
}

.add-column :focus {
  outline: none;
}

.icon-column {
  position: absolute;
  right: 10px;
  opacity: 0.3;
}

.icon-cancel {
  opacity: 0.6;
  font-size: larger;
  color: white;
}
