.Login {
  background-color: #f6ffff;
  height: 100%;
  padding: 4em 0.5em;
}

.Form {
  width: 100%;
  max-width: 330px;
  margin: auto;
  height: 100%;
}

.welcome {
  color: #2abebe;
  font-family: "Baloo Bhaina 2";
  text-align: center;
  padding: 1em 0;
}

.login-button.login-button {
  background-color: #2abebe;
  border: white;
}

.login-button.login-button:hover {
  background-color: #1ba0a0;
}
