.SignUp {
  background-color: #f1e4e5;
  height: 100%;
}

Form {
  padding-top: 2em;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.header {
  color: #2c6d8d;
  font-family: "Baloo Bhaina 2";
  text-align: center;
  padding-top: 1em;
}

h2 {
  color: #5a5858;
  font-family: "Baloo Bhaina 2";
  text-align: center;
  padding-top: 1em;
}
