.SignUp {
  background-color: #f1dfe0;
  padding-top: 2em;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

h1 {
  color: #945c5f;
  font-family: "Baloo Bhaina 2";
  text-align: center;
  padding-top: 1em;
}

h2 {
  color: #945c5f;
  font-family: "Baloo Bhaina 2";
  text-align: center;
  padding-top: 1em;
}
