body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(233, 248, 250);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: #2c6d8d;
  font-size: 45px;
  font-family: "Baloo Bhaina 2";
}

h3 {
  color: #8281a0;
  font-family: "Baloo Bhaina 2";
}

h5 {
  color: #9190a1;
  font-family: "Baloo Bhaina 2";
}

.button1 {
  margin-left: 4em;
  background-color: #d17d83;
  border: white;
}

.button2 {
  margin-left: 70em;
  color: #fff;
  background-color: #17a2b8;
}
