* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}

h1 {
  color: #2abebe;
  font-size: 45px;
  font-family: "Baloo Bhaina 2";
}

h3 {
  color: #68677c;
  font-family: "Baloo Bhaina 2";
}

h5 {
  color: #6e6d77;
  font-family: "Baloo Bhaina 2";
}

.button1 {
  background-color: #2abebe;
  border: white;
  width: 200px;
}

.button2 {
  margin-left: 70em;
  color: white;
  border: white;
  background-color: #2abebe;
}
