.Card {
  background-color: #fcfcfc;
  color: #332c94;
  font-weight: lighter;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  position: relative;

  /* css tricks ellipses */
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 2em;
}

.add-card .input-card {
  border: none;
  resize: none;
  color: #332c94;
  font-size: inherit;
  border-radius: 5px;
  padding: 10px;
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  vertical-align: text-top;
}

.add-card .input-card::placeholder {
  color: hsl(180, 3%, 48%);
}

.add-card .input-card:focus {
  outline: none;
}

.icon-card {
  position: absolute;
  right: 10px;
  opacity: 0.2;
}
